alembic==0.9.8
arrow==0.12.1
asn1crypto==0.24.0
banal==0.3.3
beautifulsoup4==4.6.0
bibtexparser==1.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dataset==1.0.6
decorator==4.2.1
dill==0.2.7.1
en-core-web-sm==2.0.0
feedparser==5.2.1
ftfy==4.4.3
future==0.16.0
html5lib==1.0b8
idna==2.6
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.2
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
networkx==2.1
normality==0.5.11
numpy==1.14.1
pandas==0.22.0
parse==1.8.2
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyreadline==2.1
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2018.3
regex==2017.4.5
requests==2.18.4
scipy==1.0.0
seaborn==0.8.1
six==1.11.0
spacy==2.0.9
SQLAlchemy==1.2.4
stuf==0.9.16
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.19.6
ujson==5.4.0
urllib3==1.22
wcwidth==0.1.7
wikipedia==1.4.0
wrapt==1.10.11
